.slider__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    object-position: center right;
}

.slider__title {
    color: rgb(28, 28, 28);
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
    margin: 0px 0px 3.2rem;
}

.slider__component {
    padding: 20px;
}