.__header {
    padding: 70px 0;
    text-align: center;
    background-image: url('../public/images/bg_food.jpg');
    height: 100%;
    background-size: cover;
    opacity: 1;
    transition: all 1.4s ease 0s;
    background-repeat: no-repeat;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #fffbf7;
}